flask>=3.0.3
flask-cors>=4.0.1
flask-session>=0.8.0
python-dotenv>=1.0.1
ibm-watsonx-ai>=1.1.2
ibm-cloud-sdk-core>=3.20.3
requests>=2.32.3
PyPDF2>=3.0.1
python-docx>=1.1.2
faiss-cpu>=1.8.0
sentence-transformers>=3.0.1
numpy>=1.26.4
pandas>=2.2.2
scikit-learn>=1.5.1
werkzeug>=3.0.3
gunicorn>=22.0.0
Pillow>=10.4.0
